/* Contoh content di styles.css */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-color: #000;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    color: #21a1f1;
}

/* Global CSS */
.list__title {
    color: #FFD700;
}
/* Warna kuning untuk semua elemen dengan kelas card__title di seluruh aplikasi */
.card__title {
    color: #FFD700; /* Warna kuning */
    font-weight: bold;
}

/* Warna kuning untuk judul poster di seluruh aplikasi */
.posterImage__title {
    color: #FFD700; /* Warna kuning */
    font-weight: 900;
}

/* Warna kuning untuk bintang rating di seluruh aplikasi */
.posterImage__rating i {
    color: #FFD700; /* Warna kuning */
}

/* Jika ada perubahan ukuran font sesuai dengan media query, bisa ditambahkan di sini */
@media (max-width: 768px) {
    .card__title,
    .posterImage__title {
        font-size: 0.9rem;
        color: #FFD700; /* Warna kuning tetap untuk judul pada layar kecil */
    }
    
    .posterImage__rating i {
        font-size: 1rem;
        color: #FFD700; /* Warna kuning tetap untuk bintang pada layar kecil */
    }
}

@media (max-width: 576px) {
    .card__title,
    .posterImage__title {
        font-size: 0.8rem;
        color: #FFD700; /* Warna kuning tetap untuk judul pada layar sangat kecil */
    }
    
    .posterImage__rating i {
        font-size: 0.9rem;
        color: #FFD700; /* Warna kuning tetap untuk bintang pada layar sangat kecil */
    }
}

