.cards {
    min-width: 200px;
    margin-right: 1rem;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 1; /* Pastikan card berada di atas elemen lain */
    width: 200px; /* Tetapkan ukuran lebar card */
    height: 350px; /* Tetapkan ukuran tinggi card */
}

.cards:hover {
    transform: scale(1.1);
    z-index: 100; /* Tambahkan z-index lebih tinggi pada hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.cards__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cards__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none; /* Tambahkan pointer-events agar overlay tidak menghalangi hover */
}

.cards:hover .cards__overlay {
    opacity: 1;
}

.card__title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.card__runtime {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.card__rating {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFD700;
    display: flex;
    align-items: center;
}

.card__rating i {
    color: #FFD700;
    margin-left: 0.3rem;        
}

.card__description {
    font-size: 0.8rem;
    line-height: 1.2;
}

@media (max-width: 576px) {
    .cards {
        min-width: 150px;
        height: 250px;
    }

    .cards__img {
        height: 200px;
    }

    .cards__overlay {
        padding: 0.5rem;
    }

    .card__title {
        font-size: 0.9rem;
    }

    .card__runtime {
        font-size: 0.8rem;
    }

    .card__rating {
        font-size: 1rem;
    }

    .card__description {
        font-size: 0.7rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .cards {
        min-width: 180px;
        height: 300px;
    }

    .cards__img {
        height: 250px;
    }

    .cards__overlay {
        padding: 0.75rem;
    }

    .card__title {
        font-size: 1rem;
    }

    .card__runtime {
        font-size: 0.9rem;
    }

    .card__rating {
        font-size: 1.1rem;
    }

    .card__description {
        font-size: 0.8rem;
    }
}

@media (min-width: 769px) {
    .cards {
        min-width: 200px;
        height: 350px;
    }

    .cards__img {
        height: 300px;
    }

    .cards__overlay {
        padding: 1rem;
    }

    .card__title {
        font-size: 1.1rem;
    }

    .card__runtime {
        font-size: 1rem;
    }

    .card__rating {
        font-size: 1.2rem;
    }

    .card__description {
        font-size: 0.8rem;
    }
}
