.actor-card {
  width: 150px;
  text-align: center;
  margin: 10px;
}

.actor-card__image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.actor-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actor-card {
  margin-bottom: 30px; /* Tambah jarak bawah pada actor card untuk memberi ruang lebih */
}

.actor-card__name {
  font-size: 1rem;
  margin-top: 10px; /* Jarak antara gambar dan nama */
  margin-bottom: 10px; /* Tambah jarak antara nama aktor dan dot navigasi */
  color: white;
  font-weight: bold;
}




/* Responsivitas */
@media (max-width: 1024px) {
  .actor-card {
    max-width: 120px;
  }

  .actor-card__image {
    width: 120px;
    height: 120px;
  }

  .actor-card__name {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .actor-card {
    max-width: 100px;
  }

  .actor-card__image {
    width: 100px;
    height: 100px;
  }

  .actor-card__name {
    font-size: 0.85rem;
  }
}

@media (max-width: 576px) {
  .actor-card {
    max-width: 80px;
  }

  .actor-card__image {
    width: 80px;
    height: 80px;
  }

  .actor-card__name {
    font-size: 0.75rem;
  }
}

/* Untuk layar kecil, pastikan elemen berada di tengah */
@media (max-width: 576px) {
  .actor-row {
    display: flex;
    flex-direction: column; /* Mengubah susunan ke vertikal */
    align-items: center; /* Aktor berada di tengah */
    justify-content: center;
    text-align: center;
  }

  .actor-card {
    margin: 10px auto; /* Pastikan setiap card berada di tengah */
  }
}
