.review {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px; 
  padding-bottom: 20px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2); 
}
  
.review__rating {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.review__rating i {
  color: #ffcc00;
  margin-right: 5px;
}

.review__rating i.filled {
  color: #ffcc00;
}

.review__rating i {
  color: #ccc; /* Untuk bintang yang tidak diisi */
}

.review__title {
  font-weight: bold;
  color: yellow; /* Warna kuning untuk judul */
  margin-bottom: 5px;
}

.review__content {
  flex-grow: 1;
}

/* Tambahkan aturan untuk membuat div bisa di-scroll jika konten lebih dari 5 review */
.review-list {
  max-height: 400px; /* Sesuaikan tinggi maksimal */
  overflow-y: auto; /* Aktifkan scroll vertikal */
  padding-right: 10px; /* Beri jarak agar scrollbar tidak menumpuk dengan konten */
}

.review-list::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

.review-list::-webkit-scrollbar-thumb {
  background-color: #FFD700; /* Warna scrollbar */
  border-radius: 10px;
}

.review-list::-webkit-scrollbar-track {
  background-color: #333; /* Warna latar belakang scrollbar */
}
